// Миксин, добавляющий новый шрифт из папки fonts
@mixin font-face($font-family, $url) {
    @font-face {
        font-family: "#{$font-family}";
        src: url("../fonts/#{$url}.ttf") format("woff");
        font-display: swap;
        font-style: normal;
    }
}

// Миксин для типографии
@mixin typography($ffamily: unset, $fsize: unset, $fweight: unset) {
    font: {
        family: $ffamily;
        size: $fsize;
        weight: $fweight;
    }
}
