.header {
    width: 100%;
    height: 72px;

    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 100%;
        max-width: $width-max;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        cursor: pointer;
    }

    &__nav-bar {
        height: 100%;

        margin: 0 0 0 72px;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__phone {
        a {
            @include typography($font-title, 24px, 500);

            color: $color-primary-black;

            transition: all 0.15s ease-in;

            &:hover {
                color: $color-primary-bronse;
            }
        }
    }

    &__social {
        margin: 0 36px;
    }

    &__btn {
        width: 149px;
        height: 40px;

        @extend %btn-small;

        @extend %btn-outline;
    }
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    &__links {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__links a {
        margin: 0 40px 0 0;
        color: $color-medium-gray;

        @include typography($font-text, 16px, 500);

        transition: all 0.2s ease-in;

        &::after {
            content: "";

            display: block;

            width: 0;
            height: 2px;

            position: relative;
            top: 10px;
            left: 50%;

            background-color: $color-primary-bronse;

            transition: all 0.2s ease-in;
        }

        &:hover {
            color: $color-primary-black;

            &::after {
                width: 18px;
                left: calc(50% - 9px);
            }
        }
    }
}

.page-title {
    width: 100%;
    height: 296px;

    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        width: 920px;

        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            text-align: center;
            @include typography($font-title, 72px, 500);
            line-height: 117%;
            letter-spacing: 0.5px;
        }
    }
}

.social-links {
    width: 72px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
